.form__info {
    font-family: "Inter-400", sans-serif, Arial;
    font-size: 36px;
    line-height: 43.57px;
    color: #777777;
    margin: 0;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
}

@media screen and (max-width: 768px) {
    .form__info {
        font-size: 20px;
        line-height: 21px;
    }
}

@media screen and (max-width: 425px) {
    .form__info {
        font-size: 17px;
        line-height: 18px;
    }
}