.form__input {
  width: 332px;
  height: 48px;
  padding: 0;
  border: 1px solid #dddddd;
  font-family: "Inter-400", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 16px;
  padding-left: 10px;
}

.form__input:focus {
  outline: none;
  border: 2px solid #3d8eb9;
}

@media screen and (max-width: 425px) {
  .form__input {
    width: 280px;
  }
}
