.form__close {
    background-image: url(../../../images/966615.png);
    position: absolute;
    top: 30px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .form__close {
        width: 20px;
        height: 20px;
        top: 20px;
        right: 40px;
    }
}

@media screen and (max-width: 425px) {
    .form__close {
        width: 15px;
        height: 15px;
        top: 16px;
        right: 40px;
    }
}