.form__header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    border-bottom: solid 1px #D8D5D5;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .form__header {
        margin-bottom: 20px;
    }
}